@font-face {
  font-family: 'Space Grotesk';
  src: url('../font/WhyteInktrap-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../font/WhyteInktrap-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../font/WhyteInktrap-Bold.ttf');
  font-weight: 700;
}

.bold {
  font-weight: bold !important;
}
.weight800 {
  font-weight: 800;
}
.nft {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 30px;
  height: calc(100vh - 200px);
}
.no-margin {
  margin: 0 !important;
}
.width112 {
  width: 112px;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.opacity3 {
  opacity: 0.3 !important;
}
.opacity5 {
  opacity: 0.5 !important;
}
.opacity8 {
  opacity: 0.8 !important;
}
.color-black {
  color: black !important;
}
.color-white {
  color: white !important;
}
.main {
  height: 100vh;
  background-color: black;

  &.white {
    background-color: white;
  }
}
.pos-rel {
  position: relative;
}

.content {
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  height: calc(100vh - 150px);

  &.no-bottom {
    height: calc(100vh - 56px);
  }

  &.auto {
    height: auto;
  }

  &.full {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  &.black {
    background-color: black;
  }
}

.price-button {
  display: flex;
  align-items: center;
  padding: 8px 20px 8px 12px;

  background: #3772ff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  &.eth {
    padding-left: 20px;
    background-position: left 0px center;
  }
}

.button-type1 {
  padding: 8px 12px;
  @extend %flex-center;
  background: #3772ff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  height: 58px;

  &.black {
    background-color: black;
  }

  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &.middle {
    height: 42px;
  }

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.04em;

    color: #ffffff;
  }
}

.button-type2 {
  padding: 8px 12px;
  @extend %flex-center;
  height: 58px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &.middle {
    height: 42px;
  }

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.04em;

    color: #ffffff;
  }
}

.button-type3 {
  padding: 8px 12px;
  @extend %flex-center;
  height: 58px;
  border-radius: 12px;
  background: #ff7a7a;
  border: 1px solid rgba(0, 0, 0, 0.05);

  &.middle {
    height: 42px;
  }
}

.rent-button {
  bottom: 50px;
  left: 0;

  background: #3772ff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  height: 58px;
  padding: 16px;

  .rent-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height, or 217% */

    letter-spacing: -0.04em;

    color: #FFFFFF;
  }
}

.nft-info {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 22px;
  position: relative;
  background:  #1F1F1F;
  &:last-child {
    margin-bottom: 0;
  }

  .img-detail {
    width: 90%;
  }
}

.nft-img {
  img {
    width: 100%;
    height: 600px;
  }
  width: 100%;
}

.eth {
  padding-left: 17px;
  background-image: url('../img/eth.svg');
  background-repeat: no-repeat;
  background-position: left -6px center;
}

.eth-b {
  padding-left: 17px;
  background-image: url('../img/eth-b.svg');
  background-repeat: no-repeat;
  background-position: left -6px center;
}

.common-menu {
  @extend %flex-eq;
  padding: 8px 24px;
  height: 56px;
  background: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &.light {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    p.menu-title {
      color: black;
    }
  }

  .icon {
    @extend %flex-center;
    width: 24px;
    height: 24px;
  }
}

.token-info {
  width: 314px;
  flex-shrink: 0;
  padding: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  margin-right: 10px;

  display: flex;
  align-items: center;

  .token-img {
    margin-right: 12px;
  }
}

.line {
  left: 0;
  position: absolute;
  height: 1px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);

  &.light {
    border-color: rgba(0, 0, 0, 0.1);
  }
}

p.menu-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

p.price-text {
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  letter-spacing: -0.04em;

  color: #ffffff;
  margin-right: 4px;
}

p.price-unit {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

p.price-text.big,
p.price-unit.big {
  font-size: 20px;
  line-height: 26px;
}

p.price-desc {
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;

  color: #ffffff;
}

p.author {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.04em;

  color: #ffffff;
  opacity: 0.5;
}

p.date {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.04em;

  color: #ffffff;
  opacity: 0.5;
}

p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.04em;

  color: #ffffff;
}

p.name {
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

p.cnt {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;

  opacity: 0.7;
}

p.chat-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.04em;

  color: #000000;
}

p.title {
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 12px;
}

h2.big {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

  letter-spacing: -0.04em;

  color: #ffffff;
}

h2 {
  font-family: 'Whyte Inktrap';
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  letter-spacing: -0.04em;
  color: #000000;
}

p.h2-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  letter-spacing: -0.04em;

  color: #ffffff;
}

h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;
}

h3.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #ffffff;
}

h4.desc {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  color: #ffffff;

  opacity: 0.5;
}

p.total-text {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;

  opacity: 0.4;
}

p.content-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.dot-icon {
  padding-left: 14px;
  background-image: url('../img/dot.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.date-icon {
  padding-left: 18px;
  background-image: url('../img/cal.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.local-icon {
  padding-left: 14px;
  background-image: url('../img/local.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.common-box {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 16px;

  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.5;
  }
}

.has-arr {
  background-image: url('../img/arr-right.svg');
  background-repeat: no-repeat;
  background-position: right center;
}
.dot-big {
  img {
    width: 20px;
    height: 20px;
    margin-right: 13px;
  }
}

.rental-box {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 16px;
  background-position: right 16px center;
}


.project-banner {
  width: 310px;
  height: 101px;
  display: flex;
  background: linear-gradient(197.67deg, rgba(76, 79, 186, 0.47) 0%, rgba(153, 255, 194, 0.47) 100%);
  border-radius: 24px;
  
}

.wallet-connect {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.04em;

  color: #FFFFFF;

  opacity: 0.5;

}

.avatar {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 30px;
}




.rent-button{
    padding: 8px 16px;
    z-index: 20;
    background: #3772FF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;
    p {
      font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height, or 186% */
    letter-spacing: -0.04em;
    color: #FFFFFF;
    }
    




    cursor: pointer;
}

.rental-input {
  background: #EAEAEA;
  border: 1px dashed #3772FF;
  border-radius: 24px;
  width: 65px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 8px;
  /* identical to box height, or 67% */

  letter-spacing: -0.04em;

  color: #000000;

  ::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 8px;
    /* identical to box height, or 67% */

    letter-spacing: -0.04em;
  }
}

.my-nft {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  opacity: 90%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-content {
      margin-top: 25%;
      margin-left: 62%;
      transform: translate(-50%, -50%); 
    
      
     
  }
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
