.wallet-list {
  width: 100%;

  .inner {
    padding: 24px;
  }
}

.wallet-item {
  width: 314px;
  flex-shrink: 0;
  padding: 16px;
  background: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .token-img {
    margin-right: 12px;
  }

  .check-circle {
    width: 22px;
    height: 22px;
    border: 1px solid gray;
    border-radius: 50%;
  }
}

.wallet-item-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
  display: flex;
  align-items: center;
}

.mint-item {
  background: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 19px;
  .mint-item img {
    width: 100%;
  }

  .price {
    display: inline-flex;
    align-items: center;
    border: 0.5px dashed #ffffff;
    border-radius: 12px;
    padding: 2px 12px 2px 8px;

    img {
      width: 8px;
    }
  }
}

.need-input {
  background-color: #eaeaea;
  border: 1px dashed #3772ff;
  border-radius: 24px;
  min-width: 50px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 적용 */
  height: 20px;
}
