.game-container {
  background-color: black;
}

.game-list {
  margin-top: 15px;
  @extend %flex-center;
  flex-wrap: wrap;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 30px;

  .game-item {
    width: calc(50% - 8px);

    &:nth-child(odd) {
      margin-right: 4px;
    }
    &:nth-child(even) {
      margin-left: 4px;
    }
    .game-profile {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      background: #28292f;
      border: 1px solid #484950;
      border-radius: 6px;
      margin-bottom: 6px;
      height: 120px;
    }

    .game-button {
      background: #34363e;
      border-radius: 6px;
      padding: 12px 8px;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}

.game-tap {
  padding-top: 22px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .tab {
    position: relative;

    &.active {
      p {
        opacity: 1;
      }
      &:after {
        width: 100%;
        bottom: -10px;
        content: '';
        position: absolute;
        border: 2px solid #3772ff;
        border-radius: 20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    p {
      font-weight: 800;
      font-size: 16px;
      line-height: 26px;

      letter-spacing: -0.04em;

      color: #ffffff;
      opacity: 0.3;
    }
  }
}
