.intro {
  background-repeat: repeat no-repeat !important;
  background-position: bottom !important;
  background-size: 1440px !important;
  height: 1178px !important;

  .intro-header-container {
    max-width: 1052px;
    margin: 0 auto;
    .menus {
      gap: 48px;
      p {
        font-size: 16px;
        line-height: 24px;
        color: #000;
      }
    }
  }

  .intro-text-container {
    text-align: center;
  }

  .intro-head-cards {
    display: flex;
    gap: 58px;
    justify-content: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }
}

.intro-uzumeta {
  margin: 152px auto 0;
  max-width: 1052px;

  h2 {
    font-size: 70px;
    line-height: 76px;
    margin-bottom: 32px;
  }

  .desc {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 178px;
  }
}

.uzumeta-cards {
  max-width: 1087px;
  margin: 0 auto;
  .games {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.experience {
  margin-top: 300px;
  text-align: center;
  h2 {
    font-size: 70px;
    line-height: 76px;
    margin-bottom: 16px;
  }

  .desc {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 52px;
  }

  .slidebox-container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    .slides {
      .slidebox {
        display: none;
        overflow: hidden;
        border-radius: 48px;
        padding: 80px 95px;
        background: #f4f4f4;
        justify-content: flex-end;
        gap: 100px;
        &.active {
          display: flex;
        }
        .slide-image {
          flex: 1;
          height: 480px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .slide-description {
          max-width: 320px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: left;
          button {
            cursor: pointer;
            background-color: transparent;
            border: 0;
          }
          h3 {
            color: #000;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 48px;
            text-align: left;
          }
          .desc {
            font-size: 22px;
            line-height: 29px;
          }
          .slide-controller {
            padding-bottom: 40px;
            b {
              font-size: 22px;
              line-height: 29px;
              margin: 0 8px 0 28px;
            }
            span {
              font-size: 22px;
              line-height: 29px;
            }
          }
        }
      }
    }
  }
}

.rent {
  margin-top: 300px;
  background-color: #000;
  padding: 160px 0 190px;
  text-align: center;

  .rent-container {
    max-width: 1264px;
    margin: 0 auto;

    h2 {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 48px;
      color: #fff;
    }

    .desc {
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 52px;
      display: inline-block;
      position: relative;

      &:before {
        position: absolute;
        top: -120px;
        left: -190px;
        content: url(../img/rent-profile1.png);
      }
      &:after {
        position: absolute;
        bottom: -120px;
        right: -190px;
        content: url(../img/rent-profile2.png);
      }
      .point {
        position: absolute;
        content: '';
      }

      .point1 {
        left: -200px;
        top: 150px;
        width: 22px;
        height: 21px;
        background: #9eff00;
        filter: blur(15px);
        border-radius: 5px;
      }
      .point2 {
        left: 0px;
        top: 150px;
        width: 90px;
        height: 88px;
        background: #ffeaac;
        filter: blur(5px);
        border-radius: 20px;
      }
      .point3 {
        left: 70px;
        top: -70px;
        width: 59px;
        height: 57px;
        background: #dbff00;
        filter: blur(10px);
        border-radius: 10px;
      }
      .point4 {
        right: 70px;
        top: 100px;
        width: 51px;
        height: 49px;
        background: #0047ff;
        filter: blur(10px);
        border-radius: 10px;
      }
      .point5 {
        right: -50px;
        top: -100px;
        width: 91px;
        height: 88px;
        background: #59afff;
        filter: blur(5px);
        border-radius: 20px;
      }
      .point6 {
        right: -160px;
        top: -50px;
        width: 16px;
        height: 16px;
        background: #ad00ff;
        filter: blur(15px);
        border-radius: 5px;
      }
    }
    .LaunchButton {
      display: block;
      a {
        display: inline-block;
        margin: 0;
        padding: 16px 40px;
        border: 1px solid #fff;
        border-radius: 40px;
        p {
          font-size: 24px;
          line-height: 36px;
          display: inline-block;
        }
        img {
          scale: 2;
          margin-left: 5px;
        }
      }
    }
  }
}

.top3 {
  margin: 300px auto 0;
  text-align: center;
  max-width: 1262px;

  h2 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 18px;
  }
  .desc {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 161px;
  }

  .top3-cards {
    display: flex;
    gap: 40px;
    margin: 0 auto;
  }

  .more-btn {
    margin-top: 183px;
    text-align: center;
    a {
      display: inline-block;
      border: 2px solid #000;
      border-radius: 40px;
      padding: 16px 40px;
      margin-bottom: 16px;
      p {
        display: inline-block;
        color: #000;
        font-size: 24px;
        line-height: 36px;
        margin-right: 12px;
      }
      img {
        vertical-align: baseline;
      }
    }
    > p {
      font-size: 16px;
      line-height: 19px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.best {
  margin-top: 300px;
  text-align: center;
  h2 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 18px;
    span {
      font-weight: 950;
    }
  }
  .desc {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 72px;
  }

  .flow-managers {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    .managers {
      position: relative;
      display: block;
      height: 130px;
      margin-bottom: 24px;
      white-space: nowrap;
      width: 300%;
      overflow: hidden;

      &:nth-of-type(1) {
        left: -150px;
      }
      &:nth-of-type(3) {
        left: -300px;
      }

      .manager-card {
        display: block;
        float: left;
        padding: 25px;
        display: flex;
        background-color: #f4f4f4;
        border-radius: 30px;
        width: 370px;
        margin-right: 24px;
        .manager-card-profile-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 30px;
          gap: 12px;
          h4 {
            color: #000;
            text-align: left;
            font-size: 24px;
          }
          p {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}

.intro-footer {
  margin-top: 300px;
  height: 694px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('../img/footer-back.png');
  background-repeat: repeat no-repeat;
  background-position: bottom;
  background-size: 1440px;
  padding-bottom: 70px;

  .intro-footer-container {
    max-width: 1052px;
    width: 100%;
    margin: 300px auto 0;
    .intro-footer-info {
      display: flex;
      justify-content: space-between;

      .menus {
        gap: 78px;
        a {
          display: inline-block;
          p {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
    .LaunchButton {
      display: flex;
      margin: 57px auto 40px;

      a {
        display: inline-block;
        margin: 0;
        padding: 16px 40px;
        border: 1px solid #fff;
        border-radius: 40px;
        p {
          font-size: 24px;
          line-height: 36px;
          display: inline-block;
        }
        img {
          scale: 2;
          margin-left: 5px;
        }
      }
    }
    .copyright {
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.game-row {
  display: flex;
  gap: 28px;
  .game {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 24px;
    overflow: hidden;

    .game-bg {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(-50%, -50%);
        max-width: 100%;
        width: 100%;
      }
    }
    .game-bg-gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
      z-index: 1;
    }
    .game-description {
      min-width: 300px;
      position: relative;
      justify-content: space-between;
      display: flex;
      z-index: 2;
      padding: 18px 16px 14px;
      flex-direction: column;
      .game-title {
        h3 {
          text-align: left;
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
          margin-bottom: 5px;
        }
        .desc {
          font-size: 15px;
          font-weight: 500;
          line-height: 1;
        }
      }
      .game-btns {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
          width: 100%;
          display: inline-block;
          padding: 8px 36px;
          border-radius: 12px;
          overflow: hidden;
          text-align: center;
          p {
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            color: rgba(255, 255, 255, 1);
            white-space: nowrap;
          }
          &.play-btn {
            background: linear-gradient(0deg, #3772ff, #3772ff), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
          }
          &.rent-btn {
            background: rgba(233, 126, 0, 1);
          }
        }
      }
    }
  }
  .items {
    display: flex;
    gap: 10px;
  }
}

.nft-card {
  flex: 1;
  border-radius: 24px;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(0deg, #1f1f1f, #1f1f1f), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  border: 1px solid rgba(255, 255, 255, 0.05);

  .thumbnail {
    position: relative;
    padding-bottom: 80%;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      width: 100%;
    }
  }
  .card-desc {
    .card-desc-container {
      padding: 0 14px;
    }

    .divider {
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.1);
      margin: 12px 0;
    }

    .card-desc-info {
      margin-top: 12px;
      h5 {
        font-size: 20px;
        font-weight: 800;
        line-height: 26px;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 12px;
      }
      .desc {
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }

    .owner-desc-info {
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      gap: 25px;
      .owner-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        .owner-profile-image {
        }
        .owner-profile-desc {
          display: flex;
          flex-direction: column;
          b {
            font-size: 12px;
            font-weight: 800;
            line-height: 1;
            margin-bottom: 8px;
            color: rgba(255, 255, 255, 1);
          }
          p {
            font-size: 11px;
            font-weight: 500;
            line-height: 1;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
      .rent-btn-box {
        display: flex;
        align-items: center;
        a {
          display: inline-block;
          padding: 8px 12px;
          background: linear-gradient(0deg, #3772ff, #3772ff), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
          border-radius: 12px;
          p {
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}

.game2-row {
  display: flex;
  flex: 1;
  .game {
    display: flex;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    .game-info {
      position: relative;
      padding-bottom: 81.87%;
      width: 100%;

      .game-bg,
      .game-bg-gradient,
      .game-title {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .game-bg-gradient {
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
        z-index: 1;
      }
      .game-bg {
        z-index: 0;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 100%;
          width: 100%;
        }
      }
      .game-title {
        z-index: 2;
        padding: 19px 24px;
        .desc {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          margin-bottom: 4px;
          text-align: left;
        }
        h3 {
          font-size: 30px;
          font-weight: 600;
          line-height: 36px;
          text-align: left;
        }
      }
    }
    .game-description {
      background: linear-gradient(0deg, #1f1f1f, #1f1f1f), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px 16px;
      .game-description-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .game-title {
          h3 {
            font-size: 12px;
            line-height: 1;
            margin-bottom: 8px;
            text-align: left;
          }
          p {
            font-size: 11px;
            line-height: 1;
            color: rgba(255, 255, 255, 0.7);
            text-align: left;
          }
        }
      }
      .game-btns {
        display: flex;
        gap: 18px;
        a {
          display: inline-block;
          padding: 8px 16px;
          white-space: nowrap;
          border-radius: 12px;
          overflow: hidden;

          &.play-btn {
            background: linear-gradient(0deg, #3772ff, #3772ff), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
          }
          &.rent-btn {
            background: rgba(233, 126, 0, 1);
          }
          p {
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
          }
        }
      }
    }
  }
}
