.home-main {
  max-width: 1052px;
  margin: 0 auto;
}

.main-visual {
  min-height: 100vh;
  background-image: url('../img/home-back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
