.banner {
  position: relative;
  img.banner-img {
    position: relative;
    width: 100%;
    height: 182px;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: -48px;
    .inner {
      display: inline-block;
      border: 8px solid black;
      border-radius: 50%;
    }

    img {
      width: 88px;
      border-radius: 50%;
    }
  }
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nft-item {
  position: relative;
  width: calc(50% - 4px);
  margin-bottom: 16px;

  &.full {
    width: 100%;
    &:nth-child(odd) {
      margin-right: 0;
    }
    &:nth-child(even) {
      margin-left: 0;
    }
  }
  img {
    width: 100%;
  }

  &:nth-child(odd) {
    margin-right: 4px;
  }
  &:nth-child(even) {
    margin-left: 4px;
  }

  .price {
    display: inline-flex;
    align-items: center;
    border: 0.5px dashed #ffffff;
    border-radius: 12px;
    padding: 2px 12px 2px 8px;

    img {
      width: 8px;
    }
  }
}

.edit-button {
  display: inline-flex;
  padding: 8px 36px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.cnt-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

p.cnt-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

span.cnt {
  font-family: 'Space Grotesk';
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.properties-box-container {
  display: flex;
  flex-wrap: wrap;
}

.properties-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: calc(50% - 4px);
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px 24px;
  margin-bottom: 12px;

  &:nth-child(odd) {
    margin-right: 4px;
  }
  &:nth-child(even) {
    margin-left: 4px;
  }
}

.my-nft {
  position: relative;

  .my-nft-img img {
    border-radius: 24px;
    height: 400px;
  }
}
